*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e67373;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-box{
 
    width: 450px;
    align-items: center;
    height: auto;
    padding: 4px;
    margin: auto;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.output-screen{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aliceblue;
    width: 380px;
    height: auto;
    border: none;
    border-radius: 1rem;
    background: #f17d7d;
    box-shadow: inset 20px 20px 60px #cd6a6a,
    inset -20px -20px 60px #ff9090;
    padding: 20px;

    font-size: 250%;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4,100px) ;
    grid-template-rows: repeat(5,70px);
    margin:auto;
    width: fit-content;

}

button{
    padding: 10px;
    margin:5px;
    width: 60px;
    border:none;
    border-radius: 90px;
    background: linear-gradient(145deg, #ff8989, #e67373);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /*box-shadow:  20px 20px 22px #8f4848,
             -20px -20px 22px #ffb8b8; */
    cursor:pointer;
    color: aliceblue;
    font-size: 200%;
}


.span-two{
    grid-row: span 2;
}